.red{
    color: red;
}
.blue{
    color: blue;
}
ul {
    list-style-type: none;
}
ul li{
    display: inline-block;
    background-color: dodgerblue;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

ul li:hover{
    transform: scale(1.2);
    background-color: green;
}